<!--
__author__    = "Westwood Robotics Corporation"
__email__     = "info@westwoodrobotics.io"
__copyright__ = "Copyright 2023 Westwood Robotics Corporation"
__date__      = "September 6, 2023"
__version__   = "0.0.3"
__status__    = "Production"
-->

<model>
  <name>bruce</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Westwood Robotics Corporation</name>
   <email>info@westwoodrobotics.io</email>
  </author>

  <description>
    Simple version of BRUCE-OP sdf.
  </description>
</model>
